/* QUESTION PANEL */
.question-panel {
    -fx-background-color: #111823;

    -fx-border-color: #263345;
    -fx-border-width: 1px;

    -fx-border-radius: 16px;
    -fx-background-radius: 16px;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0, 0, 0, 0.35),
        18,
        0.15,
        0,
        5
    );
}

/* QUIZ TITLE */
.quiz-title {
    -fx-fill: #60a5fa;

    -fx-font-size: 30px;
    -fx-font-weight: bold;
}


/* QUESTION NUMBER */
.question-number {
    -fx-fill: #78869a;

    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


/* QUESTION TEXT */
.question-text {
    -fx-fill: #f1f5f9;

    -fx-font-size: 20px;
    -fx-font-weight: bold;
}


/* TIMER TEXT */
.timer-text {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.timer-normal {
    -fx-fill: #4ade80;
}

.timer-warning {
    -fx-fill: #facc15;
}

.timer-danger {
    -fx-fill: #fb7185;
}


/* TIMER PROGRESS */
.timer-progress {
    -fx-background-color: transparent;
}

.timer-progress .track {
    -fx-background-color: #202a38;
    -fx-background-radius: 8px;
}

.timer-progress .bar {
    -fx-background-radius: 8px;
    -fx-background-insets: 2px;
}

.timer-progress.timer-normal .bar {
    -fx-background-color: #4ade80;
}

.timer-progress.timer-warning .bar {
    -fx-background-color: #facc15;
}

.timer-progress.timer-danger .bar {
    -fx-background-color: #fb7185;
}


/* RESULT PANEL */
.result-panel {
    -fx-background-color: #111823;

    -fx-border-color: #3b4658;
    -fx-border-width: 1px;

    -fx-border-radius: 16px;
    -fx-background-radius: 16px;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0, 0, 0, 0.4),
        18,
        0.15,
        0,
        5
    );
}


/* RESULT TITLE */
.result-title {
    -fx-fill: #facc15;

    -fx-font-size: 32px;
    -fx-font-weight: bold;
}


/* SCORE */
.score-text {
    -fx-fill: #60a5fa;

    -fx-font-size: 27px;
    -fx-font-weight: bold;
}


/* STATISTICS */
.stat-label {
    -fx-text-fill: #cbd5e1;

    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.correct-value {
    -fx-fill: #4ade80;

    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.incorrect-value {
    -fx-fill: #fb7185;

    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.unanswered-value {
    -fx-fill: #facc15;

    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

/* RESULT FEEDBACK */
.result-feedback {
    -fx-fill: #94a3b8;

    -fx-font-size: 15px;
}